
@{
    ViewBag.Title = "confirmEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Account Confirmed </h2>
<<<<<<< HEAD
yay

<input id="Submit1" type="submit" value="confirm" onclick="confirm" />


=======

<p>
    Congratulations on making your account with us!
</p>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" class=" btn mybutton" value="ConfirmEmail" />
    </div>
</div>
>>>>>>> refs/remotes/origin/master
