
@{
    ViewBag.Title = "QuestionaireMain";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Questionaire</h2>

<!--Cateogory 1: Personality-->

<table style="width: 100%;" id="questionarie">
    <tr style="color:gold">
    <th  bgcolor="#0A7D21"><center>I don't mind if my match has:</center></th>
    <th bgcolor="#0A7D21"><center>Strongly Disagree</center></th>
    <th bgcolor="#0A7D21"><center>Disagree</center></th>
    <th bgcolor="#0A7D21"><center>Somewhat Disagree</center></th>
    <th bgcolor="#0A7D21"><center>Neither Agree nor Disagree</center></th>
    <th bgcolor="#0A7D21"><center>Somewhat Agree</center></th>
    <th bgcolor="#0A7D21"><center>Agree</center></th>
    <th bgcolor="#0A7D21"><center>Strongly Agree</center></th>
    </tr>
    <tr>
        <td>Children</td>
        <td><center><input id="Radio1" type="radio" name="Question0" class="styled" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question0" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question0" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question0" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question0" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question0" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question0" /></center></td>
    </tr>
    
    <tr>
        <td>Pets</td>
        <td><center><input id="Radio1" type="radio" name="Question1" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question1" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question1" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question1" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question1" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question1" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question1" /></center></td>
       
    <tr>
        <td>Tattoos</td>
        <td><center><input id="Radio1" type="radio" name="Question2" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question2" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question2" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question2" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question2" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question2" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question2" /></center></td>
    </tr>
    <tr>
        <td>Piercings</td>
        <td><center><input id="Radio1" type="radio" name="Question3" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question3" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question3" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question3" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question3" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question3" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question3" /></center></td>

    <tr style="color:gold">
        <th bgcolor="#0A7D21"><center>I don't mind if my match is:</center></th>
        <th bgcolor="#0A7D21"><center>Strongly Disagree</center></th>
        <th bgcolor="#0A7D21"><center>Disagree</center></th>
        <th bgcolor="#0A7D21"><center>Somewhat Disagree</center></th>
        <th bgcolor="#0A7D21"><center>Neither Agree Nor Disagree</center></th>
        <th bgcolor="#0A7D21"><center>Somewhat Agree</center></th>
        <th bgcolor="#0A7D21"><center>Agree</center></th>
        <th bgcolor="#0A7D21"><center>Strongly Agree</center></th>
    <tr>
        <td>Opinionated</td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
    </tr>
    <tr>
        <td>Emotional</td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
    </tr>
    <tr>
        <td>Outspoken</td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
    </tr>
    <tr>
        <td>Irritable</td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
    </tr>
    </tr>
    </tr>
    <tr style="color:gold">
        <th bgcolor="#0A7D21"><center>It is important that my match is:</center></th>
        <th bgcolor="#0A7D21"><center>Strongly Disagree</center></th>
        <th bgcolor="#0A7D21"><center>Disagree</center></th>
        <th bgcolor="#0A7D21"><center>Somewhat Disagree</center></th>
        <th bgcolor="#0A7D21"><center>Neither Agree Nor Disagree</center></th>
        <th bgcolor="#0A7D21"><center>Somewhat Agree</center></th>
        <th bgcolor="#0A7D21"><center>Agree</center></th>
        <th bgcolor="#0A7D21"><center>Strongly Agree</center></th>
    </tr>
    <tr>
        <td>A good listener</td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
    </tr>
    <tr>
        <td>Funny</td>
        <td><center><input id="Radio1" type="radio" name="Question5" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question5" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question5" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question5" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question5" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question5" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question5" /></center></td>
    </tr>
    <tr>
        <td>Affectionate</td>
        <td><center><input id="Radio1" type="radio" name="Question6" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question6" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question6" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question6" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question6" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question6" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question6" /></center></td>
    </tr>
    <tr>
        <td>Entergetic</td>
        <td><center><input id="Radio1" type="radio" name="Question7"/></center></td>
        <td><center><input id="Radio1" type="radio" name="Question7" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question7" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question7" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question7" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question7" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question7" /></center></td>
    </tr>
    <tr>
        <td>Adventturous</td>   
            <td><center><input id="Radio1" type="radio" name="Question8" /></center></td>
            <td><center><input id="Radio1" type="radio" name="Question8" /></center></td>
            <td><center><input id="Radio1" type="radio" name="Question8" /></center></td>
            <td><center><input id="Radio1" type="radio" name="Question8" /></center></td>
            <td><center><input id="Radio1" type="radio" name="Question8" /></center></td>
            <td><center><input id="Radio1" type="radio" name="Question8" /></center></td>
            <td><center><input id="Radio1" type="radio" name="Question8" /></center></td>
        
    </tr>
    <tr>
        <td>Sensitive</td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
    </tr>
    <tr>
        <td>Intellectual</td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
    </tr>
    <tr>
        <td>Passionate</td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
    </tr>
    <tr>
        <td>Assertive</td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
    </tr>
    <tr>
        <td>Health conscious</td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
    </tr>
    <tr>
        <td>Spiritual</td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
    </tr>
    <tr>
        <td>Quiet</td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
    </tr>
    <tr>
        <td>Spontaneous</td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
    </tr>
    <tr>
        <td>Family-oriented</td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
    </tr>
    <tr>
        <td>Organized</td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
    </tr>
    <tr>
        <td>Clean</td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
    </tr>
    <tr>
        <td>Social</td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
    </tr>
    <tr>
        <td>Career minded</td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
    </tr>

<!--Category 2: Lifestyle-->

    <tr style="color:gold">
        <th bgcolor="#0A7D21"><center>Some hobbies I enjoy are:</center></th>
        <th bgcolor="#0A7D21"><center>Strongly Disagree</center></th>
        <th bgcolor="#0A7D21"><center>Disagree</center></th>
        <th bgcolor="#0A7D21"><center>Somewhat Disagree</center></th>
        <th bgcolor="#0A7D21"><center>Neither Agree Nor Disagree</center></th>
        <th bgcolor="#0A7D21"><center>Somewhat Agree</center></th>
        <th bgcolor="#0A7D21"><center>Agree</center></th>
        <th bgcolor="#0A7D21"><center>Strongly Agree</center></th>
    </tr>
    <tr>
        <td>Watching movies</td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
    </tr>
    <tr>
    <td>Reading</td>
    <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
    <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
    <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
    <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
    <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
    <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
    <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
    </tr>
    <tr>
        <td>Partying</td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
    </tr>
    <tr>
        <td>Music</td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
    </tr>
    <tr>
        <td>Treveling</td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
    </tr>
    <tr>
        <td>Art</td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
    </tr>
    <tr>
        <td>Being a homebody</td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
    </tr>
    <tr>
        <td>Outdoors activities</td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
    </tr>
    <tr>
        <td>Fashion</td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
    </tr>
    <tr>
        <td>Sports</td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
    </tr>
    <tr style="color:gold">
        <th bgcolor="#0A7D21"><center>It is important that my match also wants:</center></th>
        <th bgcolor="#0A7D21"><center>Strongly Disagree</center></th>
        <th bgcolor="#0A7D21"><center>Disagree</center></th>
        <th bgcolor="#0A7D21"><center>Somewhat Disagree</center></th>
        <th bgcolor="#0A7D21"><center>Neither Agree Nor Disagree</center></th>
        <th bgcolor="#0A7D21"><center>Somewhat Agree</center></th>
        <th bgcolor="#0A7D21"><center>Agree</center></th>
        <th bgcolor="#0A7D21"><center>Strongly Agree</center></th>
    </tr>
    <tr>
        <td>A commited relationship</td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
        <td><center><input id="Radio1" type="radio" name="Question4" /></center></td>
    </tr>

</table>
<section>
    <input class =" btn" type="submit" value="Submit" style="float:right">
</section>
