
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ 
    ViewBag.Title = "User Page";
}


<<<<<<< HEAD
<body>

<h1>
    Welcome
</h1>
<div class="row">
    
    <div class="col-md-5">
        <img src="~/Photos/Pug.jpg" width="400" height="400" />
    </div>
    


        <div class=" col-md-5">


            <table border="1" style="width:100%">
                <caption><b>User Information</b></caption>
                <tr>
                    <th>Username</th>
                    <td>ILuvPugs</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>Scott Tanner</td>
                </tr>


                <tr>
                    <th>Email</th>
                    <td>scott.tanner@selu.edu</td>
                </tr>


                <tr>
                    <th>Age</th>
                    <td> </td>
                </tr>
                <tr>
                    <th>Gender</th>
                    <td> </td>
                </tr>
                <tr>
                    <th>Location</th>
                    <td> </td>
                </tr>
                <tr>
                    <th>Classification</th>
                    <td> </td>
                </tr>
                <tr>
                    <th>Major</th>
                    <td> </td>
                </tr>
            </table>
            <div> <b>Bio</b></div>
            <p></p>
        </div>
    @*I am a woman who loves pugs, looking for a man who loves pugs.
    I enjoy taking walks in the dog park, because my 10 pugs need excersise so they don't get fat.
    I am looking for a man who isn't afraid to express his feelings, and is willing to share the bed with my babies. Hmu*@ 
=======
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body style="margin: 10px; padding: 30px; font-family: 'Trebuchet MS',verdana;">
    <h1>Welcome! </h1>
    <table width="0" style="height: 100%;" cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td width="0" valign="top" bgcolor="white">
                <div id="pic">
                    <img src="~/Photos/Pug.jpg" width="400" height="400" />


                </div>
            </td>
            <td width="0" valign="top" bgcolor="white">

                <div id="table">
                    <table border="1" style="width:75%">
                        <caption>User Information</caption>
                        <tr>
                            <th>Username</th>
                            <td>ILuvPugsxoxo</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>Ivy</td>
                        </tr>
                        <tr>
                            <th>Age</th>
                            <td>19</td>
                        </tr>
                        <tr>
                            <th>Gender</th>
                            <td>Manly Woman</td>
                        </tr>
                        <tr>
                            <th>Location</th>
                            <td>Ponchatoula</td>
                        </tr>
                        <tr>
                            <th>Classification</th>
                            <td>Sophomore</td>
                        </tr>
                        <tr>
                            <th>Major</th>
                            <td>Computer Science</td>
                        </tr>
                    </table>
                </div>
            </td>
        <tr>
            <td colspan="2" align="left" height="20" bgcolor="white">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <div id="Carousel" class="carousel slide">

                                <ol class="carousel-indicators">
                                    <li data-target="#Carousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#Carousel" data-slide-to="1"></li>
                                    <li data-target="#Carousel" data-slide-to="2"></li>
                                </ol>

                                <!-- Carousel items -->
                                <div class="carousel-inner">

                                    <div class="item active">
                                        <div class="row">
                                            <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
                                            <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
                                            <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
                                            <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
                                        </div><!--.row-->
                                    </div><!--.item-->

                                    <div class="item">
                                        <div class="row">
                                            <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
                                            <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
                                            <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
                                            <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
                                        </div><!--.row-->
                                    </div><!--.item-->

                                    <div class="item">
                                        <div class="row">
                                            <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
                                            <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
                                            <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
                                            <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
                                        </div><!--.row-->
                                    </div><!--.item-->

                                </div><!--.carousel-inner-->
                                <a data-slide="prev" href="#Carousel" class="left carousel-control">‹</a>
                                <a data-slide="next" href="#Carousel" class="right carousel-control">›</a>
                            </div><!--.Carousel-->

                        </div>
                    </div>
                </div><!--.container-->
            </td>
        </tr>
</table>
>>>>>>> origin/master

    </div>
            
<div class="row">
    <div class="col-md-6">


        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div id="Carousel" class="carousel slide">

                        <ol class="carousel-indicators">
                            <li data-target="#Carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#Carousel" data-slide-to="1"></li>
                            <li data-target="#Carousel" data-slide-to="2"></li>
                        </ol>

                        <!-- Carousel items -->
                        <div class="carousel-inner">

                            <div class="item active">
                                <div class="row">
                                    <div class="col-md-3"><a href="#" class="thumbnail"><img src="~/Photos/pug0.jpg" /></a></div>
                                    <div class="col-md-3"><a href="#" class="thumbnail"><img src="~/Photos/pug1.jpg"></a></div>
                                    <div class="col-md-3"><a href="#" class="thumbnail"><img src="~/Photos/pug2.jpg"></a></div>
                                    <div class="col-md-3"><a href="#" class="thumbnail"><img src="~/Photos/pug3.jpg"></a></div>
                                </div><!--.row-->
                            </div><!--.item-->

                            <div class="item">
                                <div class="row">
                                    <div class="col-md-3"><a href="#" class="thumbnail"><img src="~/Photos/pug4.jpg" /></a></div>
                                    <div class="col-md-3"><a href="#" class="thumbnail"><img src="~/Photos/pug5.jpg"></a></div>
                                    <div class="col-md-3"><a href="#" class="thumbnail"><img src="~/Photos/pug6.jpg"></a></div>
                                    <div class="col-md-3"><a href="#" class="thumbnail"><img src="~/Photos/pug7.jpg"></a></div>
                                </div><!--.row-->
                            </div><!--.item-->

                            <div class="item">
                                <div class="row">
                                    <div class="col-md-3"><a href="#" class="thumbnail"><img src="~/Photos/pug8.jpg" /></a></div>
                                    <div class="col-md-3"><a href="#" class="thumbnail"><img src="~/Photos/pug9.jpg"></a></div>
                                    <div class="col-md-3"><a href="#" class="thumbnail"><img src="~/Photos/pug10.jpg"></a></div>
                                    <div class="col-md-3"><a href="#" class="thumbnail"><img src="~/Photos/pug11.jpg"></a></div>
                                </div><!--.row-->
                            </div><!--.item-->

                        </div><!--.carousel-inner-->
                        <a data-slide="prev" href="#Carousel" class="left carousel-control">‹</a>
                        <a data-slide="next" href="#Carousel" class="right carousel-control">›</a>
                    </div><!--.Carousel-->

                </div>
            </div>
        </div><!--.container-->
    </div>
    
</div>
</body>
