@{
    ViewBag.Title = "About Us |";
}
<<<<<<< HEAD
<h2>@ViewBag.Title</h2>

=======
<body style="margin: 10px; padding: 30px; font-family: 'Trebuchet MS',verdana;">
    <h1>About </h1>

    <p>Dev info, Contact, etc.</p>
>>>>>>> refs/remotes/origin/master

