<<<<<<< HEAD
﻿
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color: #006600">
    <h1 class="text-center" style="color: #FFCC00; font-family: 'Century Schoolbook'; font-weight: normal"><em><strong>The Mane Attraction</strong></em></h1>
</div>




<div class="row">
    <div class="col-md-6">
        <h2>We&#39;re <em>Grrrrreat!</em></h2>
        <p>
            Lion&#39;s Pride is a FREE dating website run by Lions that will allow you to get together with other singles. After a quick look at our questionaire
            you will be able to view the matches that qualify most with.
        <p>
            If they agree to your message then you can then view their profile and information.
    </div>
    <div class="col-md-6" >
        <img src="~/Photos/lions2.jpeg" width="450" height="320"/>
    </div>

=======
﻿<div class="jumbotron" style="background-color: #006600">
    <h1 class="text-center" style="color: #FFCC00; font-family: 'Century Schoolbook'; font-weight: normal"><em><strong>The Mane Attraction</strong></em></h1>
</div>
<div class="row">

    <p>
        <div class="col-md-6">
            <h2><em>Roar</em></h2>
    <p>
        The Mane Attraction is a free dating website designed exclusively for current Southeastern students
        and alumni. Once you register, you will be prompted to fill out a questionnaire which will allow you to match with other Southeastern affiliates.
    <p>
        Once your match reviews and approves your message, you will gain acess to their user profile where you will be able to
        view further information of your match.

        <div class="col-md-6">
            <img src="~/Photos/lions2.jpeg" width="450" height="320" />
        </div>
    </p>
>>>>>>> refs/remotes/origin/master
</div>

<div class="row">
    <div class="col-md-6">
<<<<<<< HEAD
        <img src="~/Photos/lions1.jpeg" width="450" height="320"/>
    </div>

    <div class="col-md-6">
        <h2>Let&#39;s Get Started</h2>
        <p>
            If you want to start your dating experience now you can click<a href="~/Account/Register"> register </a>to go to our register screen.
=======
        <img src="~/Photos/lions1.jpeg" width="450" height="320" />
    </div>

    <div class="col-md-6">
        <h2>Getting Started</h2>
        <p>
            To start your dating experience, click <a href="~/Account/Register"> here </a> to register an account.
>>>>>>> refs/remotes/origin/master
        </p>
    </div>
</div>

