@{
    ViewBag.Title = "Home Page";
}

    



    <div class="row">
        <div class="col-md-6">
            <h2>We Want to Help You!</h2>
            <p>
                The Mane Attraction is a FREE dating website run by Lions that will allow you to get together with other singles. After a quick look at our questionaire
                you will be able to view the matches that qualify most with.
            <p>
                If they agree to your message then you can then view their profile and get to know them better. Maybe, you can even get together.
        </div>
        <div class="col-md-6">
            <img src="~/Images/upload-placeholder.jpg" />
        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="~/Images/upload-placeholder.jpg" />
        </div>
        <div class="col-md-6">
            <h2>Let&#39;s Get Started</h2>
            <p>
                If you want to start your dating experience now you can click<a href="~/Account/Register"> register </a>to go to our register screen.
            </p>
        </div>

    </div>
